# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

## **Objectives:**
1. List popular languages for Data Science
2. List the commonly used libraries in Data Science
3. List popular tool in Data Science
4. Evaluate some arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib

|Data Science Tools|
|------------------|
|MySQL|
|TensorFlow|
|Jupiter|

### Below are few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60 
200/60

3.3333333333333335

## Author
Fabrizio